@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    font-family: 'Cormorant Garamond', 'Petit Formal Script', serif, cursive, 'Poppins', sans-serif;
}
h1{
    color: #49618d;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    padding-bottom: 10px;
}
h2{
    color: #49618d; 
    text-align: center;
    font-family: 'Petit Formal Script';
    padding: 15px;
}
.introItem h2{
    color: #f1ccc2;
    text-align: center;
}
h3{
    color: #bfc9d7;
}
p{
    font-size: 18px;
    text-align: justify;
    justify-content: center;
    padding: 5px;
}
a{
    color: #49618d;
}
a:hover{
    color: #f1ccc2;
}
section#intro{
    background-image: url('./intro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 550px;
    padding: 20px;
}
.introContainer{
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.introItem{
    width: 200px;
}
.introItem p{
    text-align: center;
}
table td{
    padding: 0px 5px 0px 5px;
}
table > tbody > tr:nth-child(2n){
    background-color: #bfc9d7
}
table{
    border-collapse: collapse;
}
section#info{
    background-color: #f2f8ff;
    padding: 20px;
}
.infoIntro{
    width: 750px;
    margin: auto;
}
.infoIntroContainer{
    display: flex;
    align-content: center;
    justify-content: center;
}
.infoIntroItem{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: #49618d;
    margin: 10px;
}
.infoIntroItemBlue{
    background-color: #49618d;    
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 10px;
}
.infoIntroItemOrange{
    background-color: #f1ccc2;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 10px;
}
.infoIntroItemGray{
    background-color: #bfc9d7;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 10px;
}
section#program{
    text-align: center;
    background-image: url('./leaf-icon.png');
    background-size: 3%;
    padding: 20px;
}
.tableProgram{
    margin: auto;
    max-width: 200px;    
}

section#menu{
    background-color: #f2f8ff;
    padding: 20px;
}
.menuContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* max-width: 500px; */
    justify-content: center;
    flex-wrap: wrap;

}
.menuItem{
    /* background: #49618d; */
    width: 150px;
    height: 150px;
    margin: 0px 5px 0px 5px;
    display: flex;
    flex-direction: column;
    border-bottom-style: solid;
    border-bottom-color: #49618d;
    line-height: 10px;
    color: white;
    align-items: center;
    justify-content: center;
}
.menuItem img{
    max-height: 40px;
    max-width: 40px;
    margin: 10px;
}
section#gifts{
    text-align: center;
    padding: 20px;
}
.giftsIntro{
    width: 750px;
    margin: auto;
}
section#questions{
    text-align: center;
    background-color: #f2f8ff;
    padding: 20px;
}
.questionsIntro{
    text-align: center;
    width: 750px;
    margin: auto;
    margin-top: 10px;
}
.questionsForm{
    width: 750px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
#form{
    display: flex;
    flex-direction: row;
}
input[type="submit"]{
    background-color: red;
}
section#place{
    text-align: center;
    padding: 20px;
}
.placeMap{

}
