h1{
    color:purple;
    text-align: center;
    text-transform: uppercase;
}
h2{
    color:blanchedalmond;
    text-align: center;    
}
p{
    font-style: italic;
    font-size: small;
    text-align: center;
}
section#program{
    text-align: center;
}
div.table-program{
    margin: auto;
    max-width: 200px;
    
}
body{
    font-family: "Poppins";
}