@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Lancelot&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    font-family: 'Cormorant Garamond', 'Petit Formal Script', serif, cursive, 'Poppins', sans-serif;
}
h1{
    color: #49618d;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    padding-bottom: 10px;
}
h2{
    color: #49618d; 
    text-align: center;
    font-family: 'Petit Formal Script';
    padding: 15px;
}
h3{
    color: #49618d; 
    text-align: center;
    font-family: 'Clicker Script';
    font-size: 25px;
    padding-bottom: 5px;
}
p{
    font-size: 18px;
    text-align: justify;
    justify-content: center;
    padding: 5px;
}
p.h3{
    padding: 0px 60px 0px 60px;
    font-size: 17px;
}
p.ps{
    font-size: 12px;
    color:#49618d;
}
a{
    color: #49618d;
}
a:hover{
    color: #f1ccc2;
}
section#intro{
    background-image: url('./svatba.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 650px;
    padding: 10px;
}
.introContainer{
    /* width: 400px; */
    height: 180px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.introItem{
    width: 170px;
}
.introItem img{
    max-height: 150px;
    max-width: 150px;
    border-radius: 150px;
    margin: 10px;
    /* background-color: #f2f8ff; */
}
.introItem h1{
    font-family: 'Lancelot';
    margin: 10px;
    padding-bottom: 0px;
}
.introItem h2{
    font-family: 'Clicker Script';
    font-size: 27px;
    color: #f1ccc2;
    padding: 0px;
    margin: 17px;
}
.introItem h3{
    /* margin-top: 15px; */
    margin: 20px;
    font-family: 'Clicker Script';
    color: #bfc9d7;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
table td{
    padding: 0px 5px 0px 5px;
}
table > tbody > tr:nth-child(2n){
    background-color: #bfc9d7
}
table{
    border-collapse: collapse;
}
section#info{
    background-color: #f2f8ff;
    padding: 20px;
}
.infoIntro{
    width: 750px;
    margin: auto;
}
.infoTable{
    margin: auto;
    padding-top: 10px;
    max-width: 200px;    
}
.infoTable > table > tbody > tr:nth-child(2n){
    background-color: #f2f8ff
}
.infoIntroContainer{
    display: flex;
    align-content: center;
    justify-content: center;
}
.infoIntroItem{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: #49618d;
    margin: 10px;
}
.infoIntroItemGray{
    background-color: #bfc9d7;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 10px;
}
.infoIntroItemBlue{
    background-color: #49618d;    
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 10px;
}
.infoIntroItemPetrol{
    background-color: #083b4d;    
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 10px;
}
.infoIntroItemWine{
    background-color: #3e0626;    
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 10px;
}
.infoIntroItemOrange{
    background-color: #f1ccc2;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 10px;
}
.infoIntroItemOrangeSoft{
    background-color: #e4cfce;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 10px;
}
.infoPersonContainer{
    display: flex;
    align-content: center;
    justify-content: center;
}
.infoIntroAnet{
    background-color: #f1ccc2;
    background-image: url('./anet.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: #f1ccc2;
    margin: 10px;
}
.infoIntroAnicka{
    background-color: #f1ccc2;
    background-image: url('./anicka.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: #f1ccc2;
    margin: 10px;
}
.infoIntroKuba{
    background-image: url('./kuba.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: #0e2349;
    margin: 10px;
}
.infoIntroBracha{
    background-image: url('./bracha.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: #0e2349;
    margin: 10px;
}
.infoIntroTony{
    background-image: url('./tony.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: #0e2349;
    margin: 10px;
}
/* .infoIntroPerson3 img{
    max-height: 190px;
    max-width: 190px;
    border-radius: 190px;
    background-color: #ecedee;
} */

section#program{
    text-align: center;
    /* background-image: url('./leaf-icon.png'); */
    /* background-size: 0%; */
    padding: 20px;
}
.program{
    width: 750px;
    margin: auto;
}
.tableProgram{
    margin: auto;
    padding-top: 10px;
    max-width: 200px;    
}

section#menu{
    background-color: #f2f8ff;
    padding: 20px;
}
.menuContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* max-width: 500px; */
    justify-content: center;
    flex-wrap: wrap;
}
.menuItem{
    /* background: #49618d; */
    width: 150px;
    height: 150px;
    margin: 0px 5px 0px 5px;
    display: flex;
    flex-direction: column;
    border-bottom-style: solid;
    border-bottom-color: #49618d;
    line-height: 10px;
    color: white;
    align-items: center;
    justify-content: center;
}
.menuItem img{
    max-height: 45px;
    max-width: 45px;
    border-radius: 45px;
    background-color: #ecedee;
    margin: 10px;
}
section#gifts{
    text-align: center;
    padding: 20px;
}
.giftsIntro{
    width: 750px;
    margin: auto;
}
section#questions{
    text-align: center;
    background-color: #f2f8ff;
    padding: 20px;
}
.questionsIntro{
    text-align: center;
    width: 750px;
    margin: auto;
    margin-top: 10px;
}
.questionsForm{
    width: 750px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
}
#form{
    display: flex;
    flex-direction: column;
}
input[type="text"]{
    width: 40%;
    margin: 5px auto;
    padding: 1px;
    border: 1px ridge;
    border-radius: 4px;
    font-family: 'Cormorant Garamond', 'Petit Formal Script', serif, cursive, 'Poppins', sans-serif;
}
input[type="email"]{
    width: 40%;
    margin: 5px auto;
    padding: 1px;
    border: 1px ridge;
    border-radius: 4px;
    font-family: 'Cormorant Garamond', 'Petit Formal Script', serif, cursive, 'Poppins', sans-serif;
}
form > textarea {
    width: 40%;
    margin: 5px auto;
    /* margin-bottom: 10px; */
    padding: 1px;
    border: 1px ridge;
    border-radius: 4px;
    height: 100px;
    font-family: 'Cormorant Garamond', 'Petit Formal Script', serif, cursive, 'Poppins', sans-serif;
}
button{
    width: 15%;
    height: 20px;
    margin: 3px auto;
    border: 1px ridge;
    border-radius: 4px;
    background-color: #bfc9d7;
    transition-duration: 0.5s;
    font-family: 'Cormorant Garamond', 'Petit Formal Script', serif, cursive, 'Poppins', sans-serif;
}
button:hover{
    background-color: #49618d;
    color: #ecedee;
    /* border-color: #ecedee; */
}
/* button[type="submit"] {
    background-color: red;
} */
section#place{
    text-align: center;
    padding: 20px;
}
footer{
    background-color: #f2f8ff;
    font-family: 'Clicker Script';
    font-size: 20px;
    text-align: center;
    color: #0e2349;
}
footer img{
    max-width: 60px;
    margin: 0px -10px -17px -10px;
}
.footer{
    width: 250px;
    margin: auto;
    padding: 20px;
}